{{define "edit-email"}}
	<div id="profile-email-row" class="profile-input-row">
		<input 
			id="profile-email-input"
			name="email"
			type="text"
			placeholder="{{.Value}}"
		/>
		<div 
			id="profile-edit-email-button"
			class="profile-edit-button"
			hx-post="/profile/saveEmail"
			hx-target="#profile-email-row"
			hx-include="#profile-email-input"
		>
			Save
		</div>
		<div id="profile-email-error-container">
			{{range .Errors}}
				<div class="profile-error">
					{{.}}
				</div>
			{{end}}
		</div>
	</div>
{{end}}