{{define "nav"}}
<ul id="nav-list">
  <li {{range .Chart}} {{.}} {{end}} hx-get="/chart" hx-target="body">
    {{template "chart-svg"}}
  </li>
  <li id="nav-timer-container" class="nav-list-item">
    <p id="nav-timer-display" class="timer-display">00:00</p>
    <div id="nav-timer-buttons-container" class="timer-buttons-container">
      {{template "start-button" .StartButton}} {{template "pause-button"
      .PauseButton}} {{template "stop-button" .StopButton}}
    </div>
  </li>
  <li class="nav-list-item" hx-get="/profile" hx-target="body">
    <img src="/static/imgs/{{getPic .ID}}" />
  </li>
</ul>
{{end}}
