{{define "home"}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script defer src="./static/index.js"></script>
    <link rel="stylesheet" href="./static/index.css" />
  </head>
  <body>
    <nav id="main-nav" class="nav-bar" hx-get="/nav" hx-trigger="load"></nav>
    <section id="timer-container" class="section-container">
      {{template "timer" .}}
    </section>
    <section
      id="dashboard-section"
      class="section-container"
      hx-get="/dashboard?maxItems=50"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></section>
    <section
      id="tag-summary-section"
      class="section-container"
      hx-get="/tagSummary"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></section>
  </body>
</html>
{{end}}
