@media screen and (max-width: 500px) {
  :root {
    font-size: 16px;
    --background-color: #222222;
    --timer-color: #0fff50aa;
    background-color: var(--background-color);
    background-image: repeating-linear-gradient(
      #0000,
      #0000 5px,
      #0000000a 5px,
      #0000000a 10px
    );
  }

  body {
    margin: 0;
  }

  #timer-container {
    width: 80vw;
    height: 90vh;
    position: relative;
    top: 10vh;
    margin: 0 auto;
    margin-bottom: 10vh;
    border: 2px solid var(--timer-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
  }

  #timer-container > * {
    box-sizing: border-box;
    width: 100%;
  }

  #timer-display {
    grid-row: 1 / 3;
    padding: 0.1lh 0.3lh;
    margin-block: 0;
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    color: var(--timer-color);
    border: 5px solid var(--timer-color);
    border-radius: 0.25lh;
    letter-spacing: -0.025lh;
    overflow: auto;
  }

  #timer-buttons-container {
    grid-row: 3 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
  }

  .svg-wrapper {
    background-color: #0000;
    border: none;
    border-radius: 50%;
    svg {
      height: 20vw;
      width: 20vw;
      fill: white;
      transition: transform 0.25s;
    }
  }

  .svg-wrapper:hover {
    svg {
      fill: green;
      transform: scale(1.05);
    }
  }

  p:has(+ #timer-form) {
    grid-row: 1 / 2;
  }

  #timer-form {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
  }
}
