<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script defer src="./index.js"></script>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <nav id="main-nav" class="nav-bar" hx-get="/nav" hx-trigger="load"></nav>
    <section id="timer-container" class="section-container">
      <p
        id="timer-display"
        _="on startTimer call startTimer() then 
            repeat until event stopTimer
              call updateTimer()
              wait 1s
            end"
        onload="resizeFont(this)"
      >
        00:00
      </p>
      <div id="timer-buttons-container">
        <button
          class="svg-wrapper"
          _="on click send startTimer to #timer-display"
          hx-get="/startTimer"
          hx-target="#timer-buttons-container"
        >
          <svg
            id="start-button"
            class="timer-button button-main"
            fill="#000000"
            height="71px"
            width="71px"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 60 60"
            xml:space="preserve"
          >
            <!-- svg source https://www.svgrepo.com/svg/13672/play-button -->
            <g>
              <path
                d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
		    c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
		    C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"
              />
              <path
                d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
		    S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"
              />
            </g>
          </svg>
        </button>
      </div>
    </section>
    <section
      id="dashboard-section"
      class="section-container"
      hx-get="/dashboard?maxItems=50"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></section>
    <section
      id="tag-summary-section"
      class="section-container"
      hx-get="/tagSummary"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></section>
  </body>
</html>
