@media screen and (max-width: 500px) {
  /* || Start general styling || */

  :root {
    --default-font-fam: monospace;
    --background-gradient: linear-gradient(
      to right,
      hsl(0, 0%, 7.5%) 0%,
      hsl(0, 0%, 10%) 15%,
      hsl(0, 0%, 12.5%) 30%,
      hsl(0, 0%, 12.5%) 70%,
      hsl(0, 0%, 10%) 85%,
      hsl(0, 0%, 7.5%) 100%
    );
    /* font-sizes */
    --fs-xl: 5em;
    --fs-l: 3.5em;
    --fs-m: 2.25em;
    --fs-s: 1.675em;
    --fs-xs: 1.25em;
    --fs-xxs: 0.875em;
    /* font-colors */
    --fc-important: #0fff50;
    --fc-primary: #fff;
    --fc-secondary: #fff9;
    --fc-tertiary: #fff4;
    /* duration colors */
    --duration-very-long: #0fff50;
    --duration-long: #7cfc00;
    --duration-medium: #98fb98;
    --duration-short: #afe1af;
    /* activity colors */
    --activity-color-1: #50c878;
    --activity-color-2: #0096ff;
    --activity-color-3: #cf9fff;
    --activity-color-4: #da70d6;
    --activity-color-5: #de3163;
    --activity-color-6: #ff7518;
    --activity-color-7: #ffea00;
    /* General spacing */
    --body-inline-padding: 10%;
  }

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--default-font-fam);
  }

  .hidden {
    display: none;
  }

  html {
    background-image: var(--background-gradient);
  }

  /* ||  End general styling || */

  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr;
    padding-inline: var(--body-inline-padding);
  }
}
