<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script defer>
      var timer;
      var timerInput;
      var startTime;
      var hours = 0;
      var minutes = 0;
      var seconds = 0;
      var startDate = "";
      document.addEventListener("htmx:before-request", function (event) {
        console.log(`Event from ${event.detail.elt.id}`);
        if (event.detail.elt.id === "timer-form") {
          prepareDashboard();
        }
      });
      function startTimer() {
        timer = document.getElementById("timer");
        timerInput = document.getElementById("hidden-timer");
        startTime =
          Date.now() -
          seconds * 1000 -
          minutes * 1000 * 60 -
          hours * 1000 * 60 * 60;
      }
      function resetTimer() {
        seconds = 0;
        minutes = 0;
        hours = 0;
      }
      function formatTime() {
        var elapsedTime = Date.now() - startTime;
        seconds = Math.floor(elapsedTime / 1000) % 60;
        minutes = Math.floor(elapsedTime / 1000 / 60) % 60;
        hours = Math.floor(elapsedTime / 1000 / 60 / 60) % 24;
        var secondsString, minutesString;
        if (seconds < 10) {
          secondsString = "0" + seconds;
        } else {
          secondsString = seconds.toString();
        }
        if (minutes < 10) {
          minutesString = "0" + minutes;
        } else {
          minutesString = minutes.toString();
        }
        if (hours < 1) {
          return minutesString + ":" + secondsString;
        }
        return hours + ":" + minutesString + ":" + secondsString;
      }
      function updateTimer() {
        timer.innerHTML = formatTime();
        timerInput.setAttribute("value", timer.innerHTML);
      }
      function checkDateExists() {
        let timeString = document.getElementById("timer").innerHTML;
        let timeSegments = timeString.split(":");
        let timeDiff = 0;
        if (timeSegments.length == 3) {
          timeDiff += 1000 * parseInt(timeSegments[2]);
          timeDiff += 60 * 1000 * parseInt(timeSegments[1]);
          timeDiff += 60 * 60 * 1000 * parseInt(timeSegments[0]);
        } else {
          timeDiff += 1000 * parseInt(timeSegments[1]);
          timeDiff += 60 * 1000 * parseInt(timeSegments[0]);
        }
        startDate = new Date(new Date() - timeDiff).toLocaleDateString(
          "en-CA",
          { year: "numeric", month: "2-digit", day: "2-digit" }
        );
        console.log(
          document.getElementById(`date-${startDate}`) != null
            ? `Element already exists for ${startDate} day`
            : "No element exists yet"
        );
        return document.getElementById(`date-${startDate}`) != null;
      }
      function prepareDashboard() {
        if (!checkDateExists()) {
          let parent = document.getElementById("dashboard-section");
          let child = document.createElement("div");
          child.id = `date-${startDate}`;
          startDate = "";
          if (parent.firstChild) {
            parent.insertBefore(child, parent.firstChild);
          } else {
            parent.appendChild(child);
          }
        }
      }
    </script>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="timer-container">
      <div
        id="timer"
        _="on startTimer call startTimer() then 
          repeat until event stopTimer
            call updateTimer()
            wait 1s
          end"
      >
        00:00
      </div>
      <form
        id="timer-form"
        hx-post="/submitActivity"
        hx-target="#timer-container"
        action=""
      >
        <input id="hidden-timer" name="timer" type="hidden" value="0:00:00" />
        <button
          _="on click send startTimer to #timer"
          hx-get="/startTimer"
          hx-target="this"
          hx-swap="outerHTML"
        >
          Start
        </button>
      </form>
    </div>
    <div
      id="dashboard-section"
      hx-get="/dashboard?maxItems=50"
      hx-trigger="load"
    ></div>
  </body>
</html>
